* {
    margin: 0px;
    /*tirar margem*/
    padding: 0px;
    /*tirar espaçamento*/
    transition: all 1s;
    /*todos os meus componentes terão transição*/
    font-family: 'Roboto', sans-serif;
    /*mudar fonte*/
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --cor-topo: #98C1A8;
    --cor-cabecalho: #98C1AB;
    --cor-bloco: #D9D9D9;
    --cor-dicas: #7C9B77;
    --padding: 5px;
    --cor-verdeescuro: #678562;
    --cor-branca: white;
    --cor-preta: black;
    --cor-barradepesquisa: #DBDFDA;
    --cor-verdao: #21461B;
}

header {
    background-color: var(--cor-topo);
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

main .h1-dicas {
    background-color: var(--cor-dicas);
    text-align: center;
    padding: 30px;
}

main.dicas {
    margin: 20px;

}

main .imagem-dicas {
    text-align: end;
}

main .manha,
.noite,
.passo-a-passo,
.mascarafacial,
.beberagua,
.saudemental {
    margin: 20px;
}

header .nav-dicas {
    justify-content: end;
    display: flex;
    align-items: center;
}

header .nav-dicas a{
    font-size: 25px;
}
    
header .nav-dicas a {
    text-decoration: none;
    color: var(--cor-preto);
    padding: 15px;
    border-radius: 20px;
}

header .nav-dicas a:hover {
    background-color: var(--cor-dicas);
    border-radius: 20px;
    padding: 15px;
    color: var(--cor-branca);
    border-radius: 20px;
}

footer {
    background-color: var(--cor-topo);
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .contato {
    text-align: end;
}

footer .contate,
.email,
.telefone,
.imagens {
    margin: 9px;
}

/*-----------------------------------------------SANCHES-----------------------------------------------------*/

.header-carrinho
body .sacola-dica, .imagemdobrasil {
    text-align: center;
}

/*            CARRINHO             */
.header-carrinho {
    background-color: var(--cor-cabecalho);
    padding: 15px;
    color: var(--cor-preta);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

#main-carrinho {
    padding: 20px;
}

#main-carrinho .partedecima {
    text-align: center;
    padding: 20px;
}

#main-carrinho .carrinho {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

#main-carrinho .carrinho .parteum .sacola {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 5px;
}

#main-carrinho .carrinho .parteum .sacola .localizacao {
    display: flex;
    justify-content: center;
}

#main-carrinho .carrinho .parteum table {
    width: 100%;
    height: 100%;
}

#main-carrinho .carrinho .parteum .imagem {
    text-align: center;
}

#main-carrinho .carrinho .parteum .imagem img {
    width: 280px;
    padding: 5px;
}

#main-carrinho .carrinho .dupla {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#main-carrinho .carrinho .dupla .pedido {
    background-color: #D9D9D9;
    padding: 20px;
    text-align: center;
}

#main-carrinho .carrinho .dupla .pedido button {
    background-color: #678562;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

#main-carrinho .carrinho .dupla .pagamento {
    background-color: #D9D9D9;
    padding: 20px;
}

/*---------------------------------------------BRENDA-------------------------------------------*/

/*      QUEM SOMOS      */

#header-quemsomos {
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    /*espaço entre a logo e a escrita*/
    padding: 20px;
    /*espaçamento interno*/
    align-items: center;
    /*alinhar a escrita no centro*/
}

#header-quemsomos nav a {
    text-decoration: none;
    color: var(--cor-preta);
    /*mudar a cor da letra*/
}

#header-quemsomos nav a:hover {
    background-color: var(--cor-verdeescuro);
    color: var(--cor-branca);
    padding: 10px;
    border-radius: 20px;
    /*deixar as bordas redondinhas*/
}

#main-quemsomos {
    padding: 20px;
}

#main-quemsomos .conheca {
    margin-bottom: 25px;
}

#main-quemsomos .conheca .titulo {
    text-align: center;
    padding: 25px;
    background-color: var(--cor-verdeescuro);
    padding: 22px;
}

#main-quemsomos .conheca .escrita {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-topo);
    padding: 34px;
    gap: 20px;
}

#main-quemsomos .portras h1 {
    background-color: var(--cor-verdeescuro);
    color: var(--cor-branca);
    padding: 8px;
    border-radius: 20px;
    /*deixar as bordas redondinhas*/
}

#main-quemsomos .pessoas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*---------------------------------LARA--------------------------------------*/
/*      Produtos gerais      */

#main-produtosgerais{
    padding: 25px;
}

#main-produtosgerais .descricaoProduto img{
    width: 250px;
}

#main-produtosgerais .fileiras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#main-produtosgerais .fileiras .fileiras1{
    padding: 20px;
    align-items: center;
}

#main-produtosgerais .fileiras a{
    background-color: #678562;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

#main-quemsomos .pessoas .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-dicas);
    margin-bottom: 20px;
    border-radius: 25px;
}

/*      Produtos gerais      */

/*---------------------------------LARA 1--------------------------------------*/


/*      Produtos gerais      */
    #header-produtosGerais{
        background-color: var(--cor-topo);
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

#header-produtosGerais {
    background-color: var(--cor-topo);
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}


#main-produtosgerais .pesquisa-produtosGerais #pesquisa{
    background-color:transparent;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    border:none;
    padding: 0px 15px;
}

.produtos-recomendados{
    display: grid;
    grid-template-columns: 1fr;
    background-color:#678562;
}


.pesquisa-produtosGerais {
    background: #dbdfda;
    width: 311px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 100px;
    margin: 31px auto;
}

#main-produtosgerais .pesquisa-produtosGerais button {
background-color: transparent;
border: none;
}


/*produtos diretos*/


header #header-produtodireto {
    justify-content: end;
    display: flex;
    align-items: center;
}

main .imagensEdescricao{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
}

main .descricaoEpreco{
        text-align: center;
}

#main-produtosgerais .fileiras a{

    border-radius: 20px;
    padding: 15px;
    color: var(--cor-branca);
    border-radius: 20px;
}

main .imagensEdescricao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#main-produtosgerais .fileiras a {

    background-color: #678562;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    display: inline-block;
}

#main-produtosgerais .fileiras a {
    text-decoration: none;
}

#main-quemsomos .pessoas .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-dicas);
    margin-bottom: 20px;
    border-radius: 25px;
}

    main .button-compra{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

main .descricaoEpreco {
    text-align: center;
}

main .button-compra {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main .sugestoes {
    background-color: var(--cor-verdeescuro);
    padding: 20px;
}

main .sugestoesdiv {
    margin: 15px;
}

main .produto01,
.produto02,
.produto03,
.produto04 {
    margin: 20px;
}

.button-compra{
    align-items: center;
}

.button-compra .botao{
    background-color: #678562;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.botaozin{
    background-color: #678562;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/*----------------------------------lele-------------------------------------*/

.logo-index {
    font-size: 30px;
    color: var(--cor-bloco);
    text-shadow: 3px 3px var(--cor-preta);
}


.promocao-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--cor-verdeescuro);
    padding: 20px;
}

.promocao-index,
.promo-index,
.promo,
.kit,
.valor,
.botaopromo {
    text-align: center;
    font-size: 30px;
}

.promo-index,
.botaopromo {
    padding: 35px;
}

.promo-index,
.promo {
    color: var(--cor-bloco);
}

.kit {
    color: var(--cor-verdao);
    line-height: 56px;
    padding: 15px 0px;
}

.valor {
    color: var(--cor-verdao);
    padding: 0px 0px 50px;
}

.botaopromo {
    background-color: var(--cor-bloco);
    color: var(--cor-verdao);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.imgpromocao-index {
    display: flex;
    justify-content: space-around;
}

/*-----------------------------------SEGUNDA SECTION - LETICIA-----------------------------------------------*/

.dicas-index{
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    padding: 20px;
    align-items: center;
}

.img-dicas-index {
    padding: 30px;
}

.botao-dicas{
    text-align: center;
}

.botao-dicas a {
    text-decoration: none;
    font-size: 35px;
    color: var(--cor-verdeescuro);
    text-shadow: 3px 3px var(--cor-bloco);
}

.promocao-index {
    display: flex;
    justify-content: space-around;
}

/*---------------------------------------TERCEIRA SECTION-LETICIA--------------------------------------------*/

.produtos-index{
    background-color: var(--cor-branca);
    display: block;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.titulo-produtos{
    text-align: center;
    font-size: 40px;
    color: var(--cor-verdeescuro);
    text-shadow: 2px 2px var(black);
}

.produtos2{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

/*---------------------------------------FOOTER-LETICIA------------------------------------------------------*/

.footer-index{
    background-color: var(--cor-topo);
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.cadastro-index{
    text-align: end;
}

.contato-index, .comunicacao-index{
    margin: 9px;
}

.fileiras {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.fileiras .produtos-fileiras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 126px;
    text-align: center;
}

.fileiras .produtos-fileiras img {
    max-width: 300px;
}

.descricaoProduto {
    display: flex;
    align-items: center;
}